<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">NASA Wholesale</a>
</nav>

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="jumbotron">
                <div class ="row justify-content-center">
                    <h3>In Stock<i class="fas fa-box"></i></h3>
                    <div class="col-12 d-flex justify-content-center">
                    <table>
                        <thead>
                            <tr>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>Cost</th>
                            <th>Category</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each items}}
                            <tr> 
                            <td>{{item}}</td>
                            <td>{{quantity}}</td>
                            <td>{{cost}}</td>
                            <td>{{Category.category}}</td>
                            <td><button type="button" class="edit" data-id="{{id}}" data-toggle="modal" data-target="#editItem">Edit</button></td>
                            <td><button class="remove" data-id="{{id}}">Remove</button></td>                            
                            </td>
                            {{/each}}
                            </tr>
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class ="jumbotron">
                <h4>Add Category</h4>
            
                <form class="create-category">

                    <div class="form-group">
                        <label for="category">Category:</label>
                        <input type="text" id="category">
                    </div>

                    <button type="submit">Add Category +</button>
                
                </form>

                <h4>Add Inventory</h4>
                <form class="create-item">
                    <div class="form-group">
                        <label for="item">Item Name:</label>
                        <input type="text" id="item">
                    </div>
                    <div class="form-group">
                        <label for="categoryId">Select Category:</label>
                        <select class="form-control categoryId" id="categoryId"></select>
                    </div>
                    <div class="form-group">
                        <label for="quantity">Quantity to add:</label>
                        <input type="text" id="itemQuantity">
                    </div>
                    <div class="form-group">
                        <label for="cost">Cost per Item:</label>
                        <input type="text" id="cost">
                    </div>
                    <button type="submit">Add Item +</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron">
                    <div id="Chart"> Testing
                    </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="editItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="Edit-Item">Edit Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="edit-item">
            <div class="form-group">
                <label for="item">Item Name:</label>
                <input type="text" id="editItemName">
            </div>
            <div class="form-group">
                <label for="categoryId">Category:</label>
                <select class="form-control categoryId selectpicker" id="editCategoryId"></select>
            </div>
            <div class="form-group">
                <label for="quantity">Quantity:</label>
                <input type="text" id="editQuantity">
            </div>
            <div class="form-group">
                <label for="cost">Cost per Item:</label>
                <input type="text" id="editCost">
            </div>            
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="save">Save changes</button>
    </div>
    </div>
</div>
</div>