<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">Inventory Keeper</a>
</nav>

<div class="container">
    <div class="row">
        <div class="col-6">

        {{!-- <div class="container"> --}}
            <div class="jumbotron">
                <div class ="row justify-content-center">
                    <h3>In Stock<i class="fas fa-box"></i></h3>
                    <div class="col-12 d-flex justify-content-center">
                    <table>
                        <thead>
                            <tr>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>Cost</th>
                            <th>Category</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each items}}
                            <tr> 
                            <td>{{dataValues.item}}</td>
                            <td>{{dataValues.quantity}}</td>
                            <td>{{dataValues.cost}}</td>
                            <td>{{dataValues.CategoryId}}</td>
                            <td><button class="sell" data-id="{{dataValues.id}}">Sell!</button></td>
                            <td><button class="remove" data-id="{{dataValues.id}}">Remove</button></td>
                            <td><form>
                                <input type="number" id="quantity" name="price">
                                <button class="updatePrice" data-id="{{dataValues.id}}">Update Price</button></td>
                            </form>
                            </td>
                            {{/each}}
                            </tr>
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {{!-- </div> --}}
        </div>

        <div class="col-6">
        {{!-- <div class="container"> --}}
            <div class ="jumbotron">
                <h4>Add Category</h4>
            
                <form class="create-category">

                    <div class="form-group">
                        <label for="category">Category:</label>
                        <input type="text" id="category">
                    </div>

                    <button type="submit">Add Category +</button>
                
                </form>

                <h4>Add Inventory</h4>
                <form class="create-item">
                    <div class="form-group">
                        <label for="item">Item Name:</label>
                        <input type="text" id="item">
                    </div>
                    <div class="form-group">
                        <label for="categoryId">Select Category:</label>
                        <select class="form-control" id="categoryId"></select>
                    </div>
                    <div class="form-group">
                        <label for="quantity">Quantity to add:</label>
                        <input type="text" id="quantity">
                    </div>
                    <div class="form-group">
                        <label for="cost">Cost per Item:</label>
                        <input type="text" id="cost">
                    </div>
                    <button type="submit">Add Item +</button>
                </form>
            </div>
        {{!-- </div> --}}
        </div>

    </div>
</div>