<div class="container">
    <div class="jumbotron text-center">
        <h1>Inventory Keeper</h1>
    </div>
</div>

<div class="container">
    <div class="jumbotron">
        <div class ="row">
            <div class="col-6">
                <h3>In Stock<i class="fas fa-box"></i></h3>
            <table>
                <thead>
                    <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Cost</th>
                    <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each items}}
                    <tr> 
                    <td>{{dataValues.item}}</td>
                    <td>{{dataValues.quantity}}</td>
                    <td>{{dataValues.cost}}</td>
                    <td>{{dataValues.CategoryId}}</td>
                    <td><button class="sell" data-id="{{id}}">Sell!</button></td>
                     {{/each}}
                     </tr>
                </tbody>
                </table>
            </div>
            <div class="col-6">
                 <h3>Out of Stock<i class="fas fa-box-open"></i></h3>
                    <ul>
                    </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class ="jumbotron">
        <h4>Add Category</h4>
    
        <form class="create-category">

            <div class="form-group">
                <label for="category">Category:</label>
                <input type="text" id="category">
            </div>

            <button type="submit">Add Category</button>
        
        </form>

        <br>

        <h4>Add Inventory</h4>
        {{!-- <form id="" method="POST">
            <input type="text" placeholder="Item Name">
            <input type="text" placeholder="Item Quantity">
            <button>Add Item</button>
        </form> --}}

        <form class="create-item">

            <div class="form-group">
                <label for="item">Item Name:</label>
                <input type="text" id="item">
            </div>

            <br>

            <div class="form-group">
                <label for="categoryId">Select Category:</label>
                <select class="form-control" id="categoryId">
            </div>
             <br>
            <div class="form-group">
                <label for="quantity">Quantity to add:</label>
                <input type="text" id="quantity">
            </div>
             <br>
            <div class="form-group">
                <label for="cost">Cost per Item:</label>
                <input type="text" id="cost">
            </div>

            <button type="submit">Add Item +</button>
        </form>
    </div>
</div>